<div>
  <div class="container flex">
    <h2>จัดการหลักเกณฑ์ CBEs</h2>
    <div class="mt-3">
      <input class="ms-2" type="text" placeholder="หัวข้อ" />
      <button class="ms-3 btn btn-sm btn-info">ค้นหา</button>
      <button class="ms-3 btn btn-sm btn-danger">กล่องขยะ</button>
      <button class="ms-3 btn btn-sm btn-success">เพิ่ม</button>

    </div>
    <table class="mt-3">
      <thead>
        <tr>
          <th>หัวข้อ</th>
          <th>สถานะ</th>
          <th>จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>การกํากับดูแลที่ดีและการนําองค์กร (Corporate Governance & Leadership : CG & Leadership)</th>
          <th>ใช้งาน</th>
          <th>
            <button class="btn btn-sm btn-warning ms-3">แก้ไข</button>
            <button class="btn btn-sm btn-primary ms-3">ผู้รับผิดชอบ</button>
            <button class="btn btn-sm btn-info ms-3">แก้ไข</button>
            <button class="btn btn-sm btn-danger ms-3">ลบ</button>
          </th>
        </tr>
        <tr>
          <th>การวางแผนเชิงยุทธศาสตร์ (Strategic Planning : SP)</th>
          <th>ใช้งาน</th>
          <th>
            <button class="btn btn-sm btn-warning ms-3">แก้ไข</button>
            <button class="btn btn-sm btn-primary ms-3">ผู้รับผิดชอบ</button>
            <button class="btn btn-sm btn-info ms-3">แก้ไข</button>
            <button class="btn btn-sm btn-danger ms-3">ลบ</button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
