

.btn{
  min-width: 100px;
  width: auto;
  height: 35px;
}

.card{
  width: 95vw;
  height: auto;
  margin: auto;
}
.feed-form {
  margin-left: 20px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;

}

.feed-form input {
  height: 33px;
  border-radius: 5px;
  background: white;
  margin-bottom: 15px;
  padding: 0 20px;
  font-weight: 300;
  font-size: 14px;
  color: #4B4B4B;
  cursor: pointer;

}




.feed-form select {
  cursor: pointer;
  height: 33px;
  border-radius: 5px;
  background: white;
  margin-bottom: 15px;
  padding: 0 20px;
  font-weight: 300;
  font-size: 14px;
  color: #4B4B4B;

}



small {
  font-size: 0.8rem; /* ขนาดตัวหนังสือเล็ก */
  color: #ff0000;
}
table {
  border-collapse: collapse;
  width: 70vw;
  text-align: center;
}

th,
td {
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  padding: 8px;
  text-align: left;
}

th {
  text-align: center;
  color: rgb(0, 0, 0);
  size: 10px;
  background-color: white;
}



.level1 {
  background:#0099ff8c
}

.level2 {
  background:#4b4b4b47
}

