.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
 }
 .input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
 }

 .input::placeholder {
  color: rgb(71, 60, 60);
 }

 .input:focus, input:hover {
  outline: none;
  border-color: rgb(29, 29, 29);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
 }

 .icon {
  position: absolute;
  left: 1rem;
  fill: rgb(71, 60, 60);
  width: 1rem;
  height: 1rem;
 }

 button{
  height: 30px;
  width: auto;
  border-width: 2.2px;
  border-radius: 10px;
  border-color: rgb(71, 60, 60);
  margin: 2px;
  cursor: pointer;
  transition: box-shadow 0.3s ease,background-color 0.3s ease
}

button:hover{
  box-shadow: 5px 5px 10px rgb(71, 60, 60);
  background-color: #fff;
}

table{
  border-color: rgb(71, 60, 60);
  box-shadow: 5px 5px 10px rgb(71, 60, 60);
  border-collapse:rgb(71, 60, 60);

}

th{
  background-color: rgb(71, 60, 60);
  color: #fff;
  font-size: large;
  padding: 10px;
  text-align: center;

}
td {
  padding: 8px;
  text-align: left;
  border: 1px solid rgb(0, 0, 0);
}
/* CSS */
.containerMain {
  display: flex;
  justify-content: center; /* จัดให้อยู่ตรงกลางตามแนวนอน */
  align-items: center; /* จัดให้อยู่ตรงกลางตามแนวตั้ง */
  height: 75vh; /* ทำให้ขยับได้ตามความสูงของหน้าจอ */
}

.content {
  width: 300px; /* กำหนดความกว้างของ content */
  height: 200px; /* กำหนดความสูงของ content */
  background-color: #f0f0f0;
  text-align: center; /* จัดให้อยู่ตรงกลางเนื้อหา */
  line-height: 200px; /* จัดให้อยู่ตรงกลางแนวตั้ง */
}

label{
  color: white;
}

