<div class="card d-flex p-3">
  <div class="container">
    <p>แผนดำเนินงานตามหลักเกณฑ์ CBEs</p>
    <p>หัวข้อ : การกํากับดูแลที่ดีและการนําองค์กร (Corporate Governance & Leadership : CG & Leadership)</p>
    <label>ปีงบประมาณ : </label>
    <select class="ms-2">
      <option>2565</option>
      <option>2566</option>
      <option>2567</option>

    </select>
    <br/>
    <br/>
    <label for="searchbar">ชื่อแผน :</label>
    <input
    name="searchbar"
    type="text"
    />
    <button class="bg-warning text-dark">ค้นหา</button>
    <button class="bg-success text-white">เพิ่ม</button>
    <button class="bg-danger text-white">กล่องขยะ</button>
  </div>
  <div class="mt-3">
    <table>
      <thead>
        <tr>
          <th>
            วันที่แก้ไข
          </th>
          <th>
            ชื่อแผน
          </th>
          <th colspan="6">
            จัดการ
          </th>

        </tr>
      </thead>
      <tbody>
          <tr>
            <th>
              09/09/2564 09:09
            </th>
            <th>
              Planning.name
            </th>
            <th colspan="6">
              <button>แก้ไข</button>
              <button>แผน</button>
              <button>ผล</button>
              <button>รายงาน</button>
              <button>ประวัติการแก้ไข</button>
              <button>ลบ</button>

            </th>
          </tr>
      </tbody>
    </table>
  </div>
</div>
