<div >
  <div class="container">
    <table>
      <thead>
        <tr>
          <th colspan="3">ค้นหารายชื่อ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th colspan="3">
            ชื่อ - สกุล :
            <select id="dropdown">
              <option value="value1">user 1</option>
              <option value="value2">user 2</option>
              <option value="value3">user 3</option>
            </select>
            <button class="btn btn-sm btn-success ms-3">เพิ่ม</button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container mt-3">
    <div>
      <table>
        <thead>
          <tr>
            <th colspan="3">ชื่อ-นามสกุล</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">
              user1
            </td>
            <td>
              <button class="btn btn-sm btn-danger">ลบ</button>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              user2
            </td>
            <td>
              <button class="btn btn-sm btn-danger">ลบ</button>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              user3
            </td>
            <td>
              <button class="btn btn-sm btn-danger">ลบ</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<button class="btn btn-sm btn-warning">บันทึก</button>

</div>


