<div *ngIf="datafromapi == true; else LoadSuccess">
  <div *ngIf="Allroles.length == 0; else HaveData">
    <div class="container">
      <div>
        <h2>กล่องขยะ</h2>
        </div>
      <table>
        <thead>
          <tr>
            <th>วันที่ลบ</th>
            <th>บทบาท</th>
            <th>จัดการ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th colspan="3">ไม่มีบทบาทที่อยู่ในถังขยะ</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #LoadSuccess>
  <loading-page></loading-page>
</ng-template>

<ng-template #HaveData>
  <div class="container">
    <div>
    <h2>กล่องขยะ</h2>
    </div>
    <table class="table mt-3 border border-dark border-2 text-center">
      <thead>
        <tr>
          <th>วันที่ลบ</th>
          <th>บทบาท</th>
          <th>จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of Allroles">
          <td>{{ data.updateDate }}</td>
          <td>{{ data.name }}</td>
          <td>
            <button class="btn btn-sm btn-warning ms-3" (click)="onCancelDelete(data.id)">ยกเลิก</button>
            <button class="btn btn-sm btn-danger ms-3" (click)="onLastDelete(data.id)">ลบ</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
