<div >
  <div class="container">
    <table>
      <thead>
        <tr>
          <th >วันที่ลบ</th>
          <th >บทบาท</th>
          <th >จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            09/09/2564 09:09
          </th>
          <th>
            roleName
          </th>
          <th >
            <button class="btn btn-sm btn-warning ms-3">ยกเลิก</button>
            <button class="btn btn-sm btn-danger ms-3">ลบ</button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>

</div>


