
.card{
  width: 95vw;
  height: auto;
  margin: auto;
}
.feed-form {
  margin-left: 20px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.feed-form input {
  height: 33px;
  border-radius: 5px;
  background: white;
  margin-bottom: 15px;
  padding: 0 20px;
  font-weight: 300;
  font-size: 14px;
  color: #4B4B4B;
  cursor: pointer;
}
.feed-form select {
  cursor: pointer;
  height: 33px;
  border-radius: 5px;
  background: white;
  margin-bottom: 15px;
  padding: 0 20px;
  font-weight: 300;
  font-size: 14px;
  color: #4B4B4B;
}
small {
  font-size: 0.8rem; /* ขนาดตัวหนังสือเล็ก */
  color: #ff0000;
}
button{
  height: 30px;
  width: 130px;
  border-width: 2.2px;
  border-radius: 10px;
  border-color: rgb(71, 60, 60);
  margin: 2px;
  cursor: pointer;
  transition: box-shadow 0.3s ease,background-color 0.3s ease
}
button:hover{
  box-shadow: 5px 5px 10px rgb(71, 60, 60);
  background-color: #fff;
}
table{
  border-color: rgb(71, 60, 60);
  box-shadow: 5px 5px 10px rgb(71, 60, 60);
  border-collapse:rgb(71, 60, 60);
  width: 90vw;
}
th{
  background-color: rgb(71, 60, 60);
  color: #fff;
  font-size: large;
  text-align: center;
  vertical-align: middle;
}
td{
  vertical-align: middle;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
}






