html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}

.container {
  width: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
  border: #fafaf9;
  border-radius: 10px;
	position: relative;
  width: 1000px;
	overflow: hidden;

}

th,
td {
  text-align: center;
  width: auto;
	background-color: rgb(255, 255, 255);
	color: #000000;
  font-size: medium;
  padding: 10px;
  font-weight: 700;
}

th {
	text-align: center;
}

thead {
	th {
		background-color: rgba(170,236,255,255);
    color: black;
    font-weight: 700;
    font-size: larger;
    margin: auto;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
}

.Btn-colour {

  background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);

}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 0.8em;
  font-weight: 600;
  transition-duration: .3s;

}
/* hover effect on button width */
.Btn:hover {
  width: 100px;
  border-radius: 40px;
  transition-duration: .3s;
  background: linear-gradient(45deg, rgb(182, 211, 16) 0%, rgb(209, 18, 18) 100%);

}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;

}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;

}
/* button click effect*/
.Btn:active {

  transform: translate(2px ,2px);

}
