<div class="container">
  <h1>แผนดำเนินงานตามหลักเกณฑ์ CBEs</h1>
  <div class="mt-3">
    <table>
      <thead>
        <tr>
          <th>หัวข้อ</th>
          <th colspan="2">จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>การกํากับดูแลที่ดีและการนําองค์กร (Corporate Governance & Leadership : CG & Leadership)</td>
          <td>
            <button >แผนดำเนินงาน</button>
            <button class="ms-3">แบบรายงาน</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
