<div class="container">
  <div>
    <h2>แผนดำเนินงานตามหลักเกณฑ์ CBEs</h2>
    <p>
      หัวข้อ : การกํากับดูแลที่ดีและการนําองค์กร (Corporate Governance &
      Leadership : CG & Leadership)
    </p>
    <label for="planningname">ชื่อแผน : </label>
    <input name="planningname" placeholder="ชื่อแผน" />
    <br /><br />
    <label>ปีงบประมาณ : </label>
    <select class="ms-2">
      <option>2565</option>
      <option>2566</option>
      <option>2567</option>
    </select>
    <br />
    <br />
    <div class="d-flex">
      <p>ประเด็นที่เกี่ยวข้อง</p>
      <div class="text-end">
        <button>เพิ่ม</button>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>กระบวนการ</th>
          <th>ประเด็น</th>
          <th>ประเด็นย่อย</th>
          <th>จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <select style="width: 100px; height: 50px">
              <option>กระบวนการ</option>
            </select>
          </th>
          <th>
            <select style="width: 100px; height: 50px">
              <option>1.ฟหกฟหกหฟฟหก</option>
            </select>
          </th>
          <th>
            <select style="width: 100px; height: 50px">
              <option>1.1 asdfad</option>
            </select>
          </th>
          <th>
            <button>ลบ</button>
          </th>
        </tr>
      </tbody>
    </table>

    <label>ระดับคะแนน : </label>

    <table>
      <thead>
        <tr>
          <th>กระบวนการ</th>
          <th>2565</th>
          <th>2566</th>
          <th>2567</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>SP1.กระบวนการ</th>
          <th>2.4325</th>
          <th>3.13242</th>
          <th>4.123423</th>
        </tr>
      </tbody>
    </table>
    <br />
    <button>เพิ่มกิจกรรม</button>
    <br />
    <label class="mt-3"> กิจกรรม : </label>
    <table>
      <thead>
        <tr>
          <th>กิจกรรม</th>
          <th>ตัวชี้วัด</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <button>เพิ่มกิจกรรมย่อย</button>
            <button>ลบ</button>
            <br /><br />
            <textarea></textarea>
          </th>
          <th>
            <div class="d-flex">
              SP1.1 กระบวนการ 1.<input type="checkbox" /> 2.<input
                type="checkbox"
              />
              3.<input type="checkbox" /> 4.<input type="checkbox" /> 5.<input
                type="checkbox"
              />
            </div>
            <div class="d-flex">
              SP1.2 กระบวนการ 1.<input type="checkbox" /> 2.<input
                type="checkbox"
              />
              3.<input type="checkbox" /> 4.<input type="checkbox" /> 5.<input
                type="checkbox"
              />
            </div>
            <div class="d-flex">
              SP1.3 กระบวนการ 1.<input type="checkbox" /> 2.<input
                type="checkbox"
              />
              3.<input type="checkbox" /> 4.<input type="checkbox" /> 5.<input
                type="checkbox"
              />
            </div>
          </th>
        </tr>
      </tbody>
    </table>
    <div class="d-flex mt-3">
      <button>บันทึกและไปกำหนดแผน</button>
      <button>บันทึก</button>
    </div>
  </div>
</div>
