<div class="container">
  <div>
    <h2>แผนดำเนินงานตามหลักเกณฑ์ CBEs</h2>
    <p>
      หัวข้อ : การกํากับดูแลที่ดีและการนําองค์กร (Corporate Governance &
      Leadership : CG & Leadership)
    </p>
    <label for="planningname">ชื่อแผน : </label>
    <input name="planningname" placeholder="ชื่อแผน" />
    <br /><br />
    <label>ปีงบประมาณ : </label>
    <select class="ms-2">
      <option>2565</option>
      <option>2566</option>
      <option>2567</option>
    </select>
    <br />
    <br />
    <div class="d-flex">
      <p>ประเด็นที่เกี่ยวข้อง</p>
      <div class="text-end">
        <button>เพิ่ม</button>
      </div>
    </div>
    <table style="width: 500px;">
      <thead>
        <tr>
          <th>กระบวนการ</th>
          <th>ประเด็น</th>
          <th>ประเด็นย่อย</th>
          <th>จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <select style="width: 100px; height: 50px">
              <option>กระบวนการ</option>
            </select>
          </th>
          <th>
            <select style="width: 100px; height: 50px">
              <option>1.ฟหกฟหกหฟฟหก</option>
            </select>
          </th>
          <th>
            <select style="width: 100px; height: 50px">
              <option>1.1 asdfad</option>
            </select>
          </th>
          <th>
            <button>ลบ</button>
          </th>
        </tr>
      </tbody>
    </table>

    <label>ระดับคะแนน : </label>

    <table style="width: 500px;">
      <thead>
        <tr>
          <th>กระบวนการ</th>
          <th>2565</th>
          <th>2566</th>
          <th>2567</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>SP1.กระบวนการ</th>
          <th>2.4325</th>
          <th>3.13242</th>
          <th>4.123423</th>
        </tr>
      </tbody>
    </table>
    <br />
    <button>เพิ่มกิจกรรม</button>
    <br />
    <label class="mt-3"> กิจกรรม : </label>
    <table style="width: 750px;">
      <thead>
        <tr>
          <th>กิจกรรม</th>
          <th>ตัวชี้วัด</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <button>เพิ่มกิจกรรมย่อย</button>
            <br /><br />
            <div class="d-flex">
              <textarea style="width: 200px; "></textarea>
              <button>ลบ</button>
            </div>
          </td>
          <td class="text-center">
            <div class="mt-5">
              <table>
                <thead>
                  <tr>
                    <th class="border-0"></th>
                    <th class="border-0">1</th>
                    <th class="border-0">2</th>
                    <th class="border-0">3</th>
                    <th class="border-0">4</th>
                    <th class="border-0">5</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="border-0">SP1.1</td>
                    <td class="border-0">
                      <input type="checkbox" />
                    </td>
                    <td class="border-0">
                      <input type="checkbox" />
                    </td>
                    <td class="border-0">
                      <input type="checkbox" />
                    </td>
                    <td class="border-0">
                      <input type="checkbox" />
                    </td>
                    <td class="border-0">
                      <input type="checkbox" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex mt-3">
      <button>บันทึกและไปกำหนดแผน</button>
      <button>บันทึก</button>
    </div>
  </div>
</div>
