<div *ngIf="datafromapi == true; else LoadSuccess">
  <div class="container">
    <head>
      <title>ฟอร์มบทบาทและสิทธิ์</title>
    </head>
    <body>
      <h2>ฟอร์มบทบาทและสิทธิ์</h2>
      <form (ngSubmit)="onSubmit()" ngNativeValidate>
        <div>
          <label for="role">บทบาท :</label>
          <input class="ms-2" type="text" id="role" name="role"  [(ngModel)]="role.name" required  />
        </div>
        <div class="card">
          <div
            *ngFor="let data of permission ;let i = index"
            class="mt-3 d-flex ms-5 p-1 mb-2"
          >
            <input type="checkbox" name="privilege1" value="privilege1" [(ngModel)]="data.IsCheck" (change)="Status(i)"/>
            <label class="ms-2" for="privileges">{{ data.name }}</label
            ><br />
          </div>
        </div>
        <button type="submit" class="mt-2 buttonGreen">บันทึก</button>
      </form>
    </body>
    <div></div>
  </div>
</div>
<ng-template #LoadSuccess>
  <loading-page></loading-page>
</ng-template>
