.card{
  width: 50vw;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
}

button{
  height: 30px;
  width: auto;
  border-width: 2.2px;
  border-radius: 10px;
  border-color: rgb(71, 60, 60);
  margin: 2px;
  cursor: pointer;
  transition: box-shadow 0.3s ease,background-color 0.3s ease
}

button:hover{
  box-shadow: 5px 5px 10px rgb(71, 60, 60);
  background-color: #fff;
}

