<div class="card d-flex p-3">
  <div class="container">
    <h2>แผนดำเนินงานตามหลักเกณฑ์ CBEs</h2>
    <p>
      หัวข้อ : การกํากับดูแลที่ดีและการนําองค์กร (Corporate Governance &
      Leadership : CG & Leadership)
    </p>
    <label for="planningname">ชื่อแผน : </label>
    <input name="planningname" placeholder="ชื่อแผน" style="width: 100px;" disabled/>
    <br /><br />

    <div class="d-flex">
      <p>ประเด็นที่เกี่ยวข้อง</p>
      <div class="text-end">
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>กระบวนการ</th>
          <th>ประเด็น</th>
          <th>ประเด็นย่อย</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <select style="width: 100px; height: 50px" disabled>
              <option>กระบวนการ</option>
            </select>
          </th>
          <th>
            <select style="width: 100px; height: 50px" disabled>
              <option>1.ฟหกฟหกหฟฟหก</option>
            </select>
          </th>
          <th>
            <select style="width: 100px; height: 50px" disabled>
              <option>1.1 asdfad</option>
            </select>
          </th>
        </tr>
      </tbody>
    </table>

    <label>ระดับคะแนน : </label>

    <table>
      <thead>
        <tr>
          <th>กระบวนการ</th>
          <th>2565</th>
          <th>2566</th>
          <th>2567</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>SP1.กระบวนการ</th>
          <th>2.4325</th>
          <th>3.13242</th>
          <th>4.123423</th>
        </tr>
      </tbody>
    </table>
    <br />

    <div>
      <label>ปีงบประมาณ : </label>
      <select class="ms-2">
        <option>2565</option>
        <option>2566</option>
        <option>2567</option>
      </select>
      รอบ :
      <select class="ms-2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
      <br />
      <textarea class="mt-3" placeholder="แก้ไข...."></textarea>
    </div>
    <label class="mt-3"> ประเด็นที่เกี่ยวข้อง : </label>
    <table class="tablecontainer">
      <thead>
        <tr>
          <th rowspan="3">ตัวชี้วัด</th>
          <th colspan="12" rowspan="1">
            เป้าหมายระยะเวลาแล้วเสร็จ
          </th>
        </tr>
        <tr>
          <th colspan="4">ปีงบประมาณ 2565</th>
          <th colspan="4">ปีงบประมาณ 2566</th>
          <th colspan="4">ปีงบประมาณ 2567</th>

        </tr>
        <tr>
          <th colspan="1">Q1</th>
          <th colspan="1">Q2</th>
          <th colspan="1">Q3</th>
          <th colspan="1">Q4</th>
          <th colspan="1">Q1</th>
          <th colspan="1">Q2</th>
          <th colspan="1">Q3</th>
          <th colspan="1">Q4</th>
          <th colspan="1">Q1</th>
          <th colspan="1">Q2</th>
          <th colspan="1">Q3</th>
          <th colspan="1">Q4</th>
        </tr>


      </thead>
      <tbody>
        <tr>
          <th>
            <div class="mt-5">
              <table>
                <thead>
                  <tr>
                    <th class="border-0"></th>
                    <th class="border-0">1</th>
                    <th class="border-0">2</th>
                    <th class="border-0">3</th>
                    <th class="border-0">4</th>
                    <th class="border-0">5</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                     <div class="mt-5">
              <table>
                <thead>
                  <tr>
                    <th class="border-0"></th>
                    <th class="border-0">1</th>
                    <th class="border-0">2</th>
                    <th class="border-0">3</th>
                    <th class="border-0">4</th>
                    <th class="border-0">5</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="border-0">SP1.1</td>
                    <td class="border-0">
                      <input type="checkbox" />
                    </td>
                    <td class="border-0">
                      <input type="checkbox" />
                    </td>
                    <td class="border-0">
                      <input type="checkbox" />
                    </td>
                    <td class="border-0">
                      <input type="checkbox" />
                    </td>
                    <td class="border-0">
                      <input type="checkbox" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
                  </tr>
                </tbody>
              </table>
            </div>
            <textarea class="mt-3"
            style="height: 50px; width: 250px; vertical-align: bottom"
            disabled>กิจกรรม</textarea>
          </th>
          <th style="vertical-align: bottom">
            <input type="number"/>
          </th>
          <th style="vertical-align: bottom">
            <input type="number"/>
          </th>
          <th style="vertical-align: bottom">
            <input type="number"/>
          </th>
          <th style="vertical-align: bottom">
            <input type="number"/>
          </th>
          <th style="vertical-align: bottom">
            <input type="number"/>
          </th>
          <th style="vertical-align: bottom">
            <input type="number"/>
          </th>
          <th style="vertical-align: bottom">
            <input type="number"/>
          </th>
          <th style="vertical-align: bottom">
            <input type="number"/>
          </th>
          <th style="vertical-align: bottom">
            <input type="number"/>
          </th>
          <th style="vertical-align: bottom">
            <input type="number"/>
          </th>
          <th style="vertical-align: bottom">
            <input type="number"/>
          </th>
          <th style="vertical-align: bottom">
            <input type="number"/>
          </th>
        </tr>

      </tbody>
    </table>
    <div class="d-flex mt-3">
      <button>บันทึก</button>
    </div>
  </div>
</div>
