<button routerLink="home" routerLinkActive="active-button">home</button>
<button routerLink="loading" routerLinkActive="active-button">loading</button>
<button routerLink="nothavedata" routerLinkActive="active-button">
  nothavedata
</button>
<button routerLink="login" routerLinkActive="active-button">login</button>
<button routerLink="register" routerLinkActive="active-button">register</button>
<button routerLink="notfound" routerLinkActive="active-button">notfound</button>
<button routerLink="role/create" routerLinkActive="active-button">
  ♟ rolecreate
</button>
<button routerLink="role/editer/:id" routerLinkActive="active-button">
  ♟ rolediter
</button>
<button routerLink="role/list" routerLinkActive="active-button">
  ♟ rolelist
</button>
<button routerLink="role/edit" routerLinkActive="active-button">
  ♟ roleEditer
</button>
<button routerLink="role/users/:id" routerLinkActive="active-button">
  ♟ roleWithUser
</button>
<button routerLink="role/bin" routerLinkActive="active-button">
  ♟ rolebin
</button>
<button routerLink="CBEs/list" routerLinkActive="active-button">
  ★ cbeslist
</button>
<button routerLink="CBEs/create" routerLinkActive="active-button">
  ★ cbescreate
</button>
<button routerLink="CBEs/editer/:id" routerLinkActive="active-button">
  ★ cbesediter
</button>
<button routerLink="CBEs/maturity/create" routerLinkActive="active-button">
  ★ cbesmaturitycreate
</button>
<button routerLink="CBEs/supervisor/create" routerLinkActive="active-button">
  ★ cbessupervisorcreate
</button>
<button
  routerLink="CBEs/supervisor/editer/:id"
  routerLinkActive="active-button"
>
  ★ cbessupervisorediter
</button>
<button routerLink="CBEs/history/list/:id" routerLinkActive="active-button">
  ★ cbeshistorylist/:id
</button>
<button routerLink="CBEs/history/:id" routerLinkActive="active-button">
  ★ cbeshistory/:id
</button>
<button routerLink="CBEs/history/maturity/:id" routerLinkActive="active-button">
  ★ cbeshistory/maturity/:id
</button>
<button
  routerLink="CBEs/history/supervisor/:id"
  routerLinkActive="active-button"
>
  ★ cbeshistory/supervisor/:id
</button>
<button routerLink="CBEs/bin" routerLinkActive="active-button">
  ★ cbes/bin
</button>
<button routerLink="CBEsTargetResult/list" routerLinkActive="active-button">
  ♥ CBEsTargetResult/list
</button>
<button routerLink="CBEsTargetResult/target" routerLinkActive="active-button">
  ♥ CBEsTargetResult/target
</button>
<button routerLink="CBEsTargetResult/result" routerLinkActive="active-button">
  ♥ CBEsTargetResult/result
</button>
<button
  routerLink="CBEsTargetResult/history/list"
  routerLinkActive="active-button"
>
  ♥ CBEsTargetResult/history/list
</button>
<button
  routerLink="CBEsTargetResult/targethistory/:id"
  routerLinkActive="active-button"
>
  ♥ CBEsTargetResult/targethistory/:id
</button>
<button
  routerLink="CBEsPlanning/manageplanning"
  routerLinkActive="active-button"
>
  ✎ CBEsPlanning/ManagePlanning
</button>
<button routerLink="CBEsPlanning/list" routerLinkActive="active-button">
  ✎ CBEsPlanning/list
</button>
<button routerLink="CBEsPlanning/create" routerLinkActive="active-button">
  ✎ CBEsPlanning/create
</button>
<button
  routerLink="CBEsPlanning/target/create"
  routerLinkActive="active-button"
>
  ✎ CBEsPlanning/target/create
</button>
<button
  routerLink="CBEsPlanning/result/create"
  routerLinkActive="active-button"
>
  ✎ CBEsPlanning/result/create
</button>
<button routerLink="CBEsPlanning/draft/:id" routerLinkActive="active-button">
  ✎ CBEsPlanning/draft:id
</button>
<button routerLink="CBEsPlanning/history/list" routerLinkActive="active-button">
  ✎ CBEsPlanning/history/list
</button>
<button
  routerLink="CBEsPlanning/history/target/:id"
  routerLinkActive="active-button"
>
  ✎ CBEsPlanning/history/target/:id
</button>
<button
  routerLink="CBEsPlanning/history/result/:id"
  routerLinkActive="active-button"
>
  ✎ CBEsPlanning/history/result/:id
</button>
<button routerLink="CBEsPlanning/bin/:id" routerLinkActive="active-button">
  ✎ CBEsPlanning/bin/:id
</button>
<button routerLink="CBEsPlanning/report/:id" routerLinkActive="active-button">
  ✎ CBEsPlanning/report/:id
</button>
<button
  routerLink="CBEsPlanning/report/draft/:id"
  routerLinkActive="active-button"
>
  ✎ CBEsPlanning/report/draft/:id
</button>

<router-outlet></router-outlet>
