<button routerLink="home" >home</button>
<button routerLink="loading" >loading</button>
<button routerLink="login" >login</button>
<button routerLink="register" >register</button>
<button routerLink="notfound" >notfound</button>
<button routerLink="role/create" >rolecreate</button>
<button routerLink="role/list" >rolelist</button>
<button routerLink="role/users/create" >roleusercreate</button>
<button routerLink="role/bin" >rolebin</button>
<button routerLink="CBEs/list" >cbeslist</button>
<button routerLink="CBEs/create" >cbescreate</button>
<button routerLink="CBEs/maturity/create" >cbesmaturitycreate</button>
<button routerLink="CBEs/supervisor/create" >cbessupervisorcreate</button>
<button routerLink="CBEs/history/list/:id" >cbeshistorylist/:id</button>
<button routerLink="CBEs/history/:id" >cbeshistory/:id</button>
<button routerLink="CBEs/history/maturity/:id" >cbeshistory/maturity/:id</button>
<button routerLink="CBEs/history/supervisor/:id" >cbeshistory/supervisor/:id</button>
<button routerLink="CBEs/bin" >cbeshistory/bin</button>
<button routerLink="CBEsTargetResult/list" >CBEsTargetResult/list</button>
<button routerLink="CBEsTargetResult/target" >CBEsTargetResult/target</button>
<button routerLink="CBEsTargetResult/result" >CBEsTargetResult/result</button>
<button routerLink="CBEsTargetResult/history/list" >CBEsTargetResult/history/list</button>
<button routerLink="CBEsTargetResult/targethistory/:id" >CBEsTarget/targethistory/:id</button>
<button routerLink="CBEsPlanning/manageplanning" >CBEsPlanning/ManagePlanning</button>
<button routerLink="CBEsPlanning/list" >CBEsPlanning/list</button>
<button routerLink="CBEsPlanning/create" >CBEsPlanning/create</button>
<button routerLink="CBEsPlanning/target/create" >CBEsPlanning/target/create</button>
<button routerLink="CBEsPlanning/result/create" >CBEsPlanning/result/create</button>
<button routerLink="CBEsPlanning/draft/:id" >CBEsPlanning/draft:id</button>
<button routerLink="CBEsPlanning/history/list" >CBEsPlanning/history/list</button>
<button routerLink="CBEsPlanning/history/target/:id" >CBEsPlanning/history/target/:id</button>
<button routerLink="CBEsPlanning/history/result/:id" >CBEsPlanning/history/result/:id</button>
<button routerLink="CBEsPlanning/bin/:id" >CBEsPlanning/bin/:id</button>





































<router-outlet></router-outlet>

