<div>
  <div class="container flex mt-5">
    <h1 style="color: rgb(0, 0, 0);">เป้า/ผลตามหลักเกณฑ์ CBEs</h1>
    <div class="mt-3">
      <label> ปีงบประมาณ : </label>
      <select>
      <option>2565</option>
      <option>2566</option>
      <option>2567</option>
      </select>
      <button class="ms-3 btn btn-sm btn-info">ค้นหา</button>


    </div>
    <table class="mt-3">
      <thead>
        <tr>
          <th>หัวข้อ</th>
          <th>จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>การกํากับดูแลที่ดีและการนําองค์กร (Corporate Governance & Leadership : CG & Leadership)</td>
          <td>
            <button class="btn btn-sm btn-danger ms-3">เป้า</button>
            <button class="btn btn-sm btn-info ms-3">ผล</button>
            <button class="btn btn-sm btn-warning ms-3">ประวัติแก้ไข</button>
          </td>
        </tr>
        <tr>
          <td>การวางแผนเชิงยุทธศาสตร์ (Strategic Planning : SP)</td>
          <td>
            <button class="btn btn-sm btn-danger ms-3">เป้า</button>
            <button class="btn btn-sm btn-info ms-3">ผล</button>
            <button class="btn btn-sm btn-warning ms-3">ประวัติแก้ไข</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
