table {
  border-collapse: collapse;
  width: 80vw;
  text-align: center;
}

th,
td {
  border: 1px solid rgb(0, 0, 0);
  text-align: center;

  padding: 8px;
  text-align: left;
}

th {
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: white;
}
/* CSS */
.containerMain {
  display: flex;
  justify-content: center; /* จัดให้อยู่ตรงกลางตามแนวนอน */
  align-items: center; /* จัดให้อยู่ตรงกลางตามแนวตั้ง */
  height: 75vh; /* ทำให้ขยับได้ตามความสูงของหน้าจอ */
}

.content {
  width: 300px; /* กำหนดความกว้างของ content */
  height: 200px; /* กำหนดความสูงของ content */
  background-color: #f0f0f0;
  text-align: center; /* จัดให้อยู่ตรงกลางเนื้อหา */
  line-height: 200px; /* จัดให้อยู่ตรงกลางแนวตั้ง */
}


button{
  background-color: white;
  color: black;
}

button:hover{
  background-color: rgb(1, 1, 1);
  color: white;
  box-shadow: #bc00ec;
}
