<div class="container">
  <h1>กำหนดสิทธิ์การใช้งานระบบ</h1>

  <div class="text-end">
    <button>เพิ่ม</button>
    <button>กล่องขยะ</button>
  </div>

  <div>
    <table class="table mt-3 border border-dark border-2 text-center">
      <thead>
        <tr>
          <th>วันที่ปรับปรุง</th>
          <th>ชื่อบทบาท</th>
          <th>จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>03/06/2564 12:12</th>
          <th>ผู้ดูแลระบบ</th>
          <th>
            <button>กลุ่มผู้ใช้งาน</button>
            <button>แก้ไข</button>
            <button>ลบ</button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
