<div>
  <h2>ประวัติการแก้ไขหลักเกณฑ์ CBEs</h2>
  <div class="container">
    <label
      >หัวข้อ : การกํากับดูแลที่ดีและการนําองค์กร (Corporate Governance &
      Leadership : CG & Leadership)</label
    ><br />
    <label>รอบการแก้ไข : </label>
    <select ng-for>
      <option>ทั้งหมด</option>
      <option>1</option>
      <option>2</option>
    </select>
    <button>ค้นหา</button>
  </div>
  <div class="mt-3 containerMain">
    <table>
      <thead>
        <tr>
          <th>วันที่แก้ไข</th>
          <th>ประเภท</th>
          <th>รอบ</th>
          <th>ผู้แก้ไข</th>
          <th>หมายเหตุ</th>
          <th>รายละเอียด</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of LogHeader;let i = index">
          <td>{{item.updateDate}}</td>
          <td>{{item.cbesLogType.name}}</td>
          <td>{{item.round}}</td>
          <td>updateBy Object</td>
          <td>{{item.remark}}</td>
          <td>
            <button>รายละเอียด</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
