<div class="card d-flex p-3">
  <div class="container">
    <h2>ผลดำเนินงานตามหลักเกณฑ์ CBEs</h2>
    <p>
      หัวข้อ : การกํากับดูแลที่ดีและการนําองค์กร (Corporate Governance &
      Leadership : CG & Leadership)
    </p>
    <label for="planningname">ชื่อแผน : </label>
    <input
      name="planningname"
      placeholder="ชื่อแผน"
      style="width: 100px"
      disabled
    />
    <br /><br />

    <div class="d-flex">
      <p>ประเด็นที่เกี่ยวข้อง</p>
      <div class="text-end"></div>
    </div>
    <table>
      <thead>
        <tr>
          <th>กระบวนการ</th>
          <th>ประเด็น</th>
          <th>ประเด็นย่อย</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <select style="width: 100px; height: 50px" disabled>
              <option>กระบวนการ</option>
            </select>
          </th>
          <th>
            <select style="width: 100px; height: 50px" disabled>
              <option>1.ฟหกฟหกหฟฟหก</option>
            </select>
          </th>
          <th>
            <select style="width: 100px; height: 50px" disabled>
              <option>1.1 asdfad</option>
            </select>
          </th>
        </tr>
      </tbody>
    </table>

    <label>ระดับคะแนน : </label>

    <table>
      <thead>
        <tr>
          <th>กระบวนการ</th>
          <th>2565</th>
          <th>2566</th>
          <th>2567</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>SP1.กระบวนการ</th>
          <th>2.4325</th>
          <th>3.13242</th>
          <th>4.123423</th>
        </tr>
      </tbody>
    </table>
    <br />

    <div>
      <div class="d-flex">
        <label>ปีงบประมาณ : </label>
        <select class="ms-2">
          <option>2565</option>
          <option>2566</option>
          <option>2567</option>
        </select>
      </div>
      <div class="d-flex">
        ไตรมาส :
        <select class="ms-2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div class="d-flex">
        รอบการแก้ไข :
        <select class="ms-2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
      <br />
      <div class="d-flex">
        <label>หมายเหตุในการบันทึก : </label>
        <textarea class="ms-2" placeholder="แก้ไข...."></textarea>
      </div>
    </div>
    <label class="mt-3"> กิจกรรม : </label>
    <table class="tablecontainer">
      <thead>
        <tr>
          <th rowspan="3">กิจกรรม</th>
          <th rowspan="3"></th>
          <th colspan="12" rowspan="1">เป้าหมายระยะเวลาแล้วเสร็จ</th>
          <th rowspan="3">สรุปสาระสำคัญ</th>
          <th rowspan="3">ปัญหาที่พบเจอ</th>
          <th rowspan="3">วิธีแก้ไข</th>
        </tr>
        <tr>
          <th colspan="12">ปีงบประมาณ 2565</th>
        </tr>
        <tr>
          <th colspan="3">Q1</th>
          <th colspan="3">Q2</th>
          <th colspan="3">Q3</th>
          <th colspan="3">Q4</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <div class="mt-5">
              <table>
                <thead>
                  <tr>
                    <th class="border-0"></th>
                    <th class="border-0">1</th>
                    <th class="border-0">2</th>
                    <th class="border-0">3</th>
                    <th class="border-0">4</th>
                    <th class="border-0">5</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="border-0">SP1.1</td>
                    <td class="border-0">
                      <input type="checkbox" />
                    </td>
                    <td class="border-0">
                      <input type="checkbox" />
                    </td>
                    <td class="border-0">
                      <input type="checkbox" />
                    </td>
                    <td class="border-0">
                      <input type="checkbox" />
                    </td>
                    <td class="border-0">
                      <input type="checkbox" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <textarea
                class="mt-5"
                style="height: 75px ; width: 250px; vertical-align: bottom"
                disabled
              >กิจกรรม</textarea
              >
            </div>
          </th>
          <th style="height: 75px; vertical-align: bottom" rowspan="1">
            แผน <br /><br />
            ผล
          </th>
          <th colspan="3" style="height: 75px; vertical-align: bottom">
            <input type="number" /><br /><br /><input type="number" />
          </th>
          <th colspan="3" style="height: 75px; vertical-align: bottom">
            <input type="number" /><br /><br /><input type="number" />
          </th>
          <th colspan="3" style="height: 75px; vertical-align: bottom">
            <input type="number" /><br /><br /><input type="number" />
          </th>
          <th colspan="3" style="height: 75px; vertical-align: bottom">
            <input type="number" /><br /><br /><input type="number" />
          </th>
          <th style="vertical-align: bottom">
            <textarea
              style="height: 75px;"
              placeholder="summarize"
            ></textarea>
          </th>
          <th style="vertical-align: bottom">
            <textarea
              style="height: 75px; "
              placeholder="problem"
            ></textarea>
          </th>
          <th style="vertical-align: bottom">
            <textarea
              style="height: 75px; "
              placeholder="howto"
            ></textarea>
          </th>
          <th colspan=" 15"></th>
        </tr>
      </tbody>
    </table>

    <div class="mt-3 w-50">
      ร้อยละความก้าวหน้าของทั้งปี :
      <br />
      แผน : <input type="number" disabled /> <br /><br />
      ผล : <input type="number" disabled /> <br /><br />
      ร้อยละ : <input type="number" disabled />
    </div>
    <div class="mt-3">
      <h3 class="bg-primary">ผลการอนุมัติ</h3>
      วันและเวลาที่พิจารณา :
      <br /><br />
      ชื่อผู้พิจารณา :
      <br /><br />
      การอนุมัติ :
      <br /><br />
      หมายเหตุ : <br /><textarea
        style="width: 300px; height: 100px; background-color: gray"
        disabled
      ></textarea>
    </div>
    <div class="d-flex mt-3">
      <button>บันทึกร่าง</button>
      <button>ส่งข้อมูล</button>
    </div>
  </div>
</div>
