

.btn{
  width: fit-content;
  height: fit-content;
}

.card{
  width: 95vw;
  height: auto;
  margin: auto;
}
.feed-form {
  margin-left: 20px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;

}

.feed-form input {
  height: 33px;
  border-radius: 5px;
  background: white;
  margin-bottom: 15px;
  padding: 0 20px;
  font-weight: 300;
  font-size: 14px;
  color: #4B4B4B;
  cursor: pointer;

}




.feed-form select {
  cursor: pointer;
  height: 33px;
  border-radius: 5px;
  background: white;
  margin-bottom: 15px;
  padding: 0 20px;
  font-weight: 300;
  font-size: 14px;
  color: #4B4B4B;

}

.button_submit:hover, .feed-form input:hover, .feed-form select:hover{
  transform: scale(1.009);
  box-shadow: 0px 0px 3px 0px #c800ff;
}

.button_submit {
  width: 100%;
  height: 33px;
  font-size: 14px;
  color: green;
  background: white;
  border-radius: 5px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
  border-color: green;
}
small {
  font-size: 0.8rem; /* ขนาดตัวหนังสือเล็ก */
  color: #ff0000;
}
table {
  border-collapse: collapse;
  width: 70vw;
  text-align: center;
}

th,
td {
  border: 1px solid rgb(0, 0, 0);
  text-align: center; /* จัดตรงกลางในแนวนอน */
  vertical-align: middle; /* จัดตรงกลางในแนวตั้ง */
  padding: 2px; /* เพิ่มระยะห่างระหว่างขอบและเนื้อหา */

}

th {
  text-align: center;
  color: rgb(0, 0, 0);
  size: 10px;
  background-color: white;
}

.level1 {
  background:#4b4b4b8c
}

