<div class="container p-3">
  <section class="section_form">
    <form id="consultation-form" class="feed-form" action="#">
      <h2 class="border-3 border-dark border-bottom" style="width: 750px;">ประวัติการแก้ไขเป้าตามหลักเกณฑ์ CBEs</h2>
      <p> หัวข้อ : การวางแผนเชิงยุทธศาสตร์ (Strategic Planning : SP) </p>
      <p> วันที่แก้ไข : 03/06/2564 12:12 </p>
      <p> ผู้แก้ไข : นายเจษฎากร คุ้มเดช</p>

      <p> ปี : 2565</p>

      <label for="round">รอบการแก้ไข</label>
      <select name="round" disabled>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
      <label for="remark">หมายเหตุในการบันทึก</label>
      <textarea name="remark" placeholder="หมายเหตุการแก้ไข" disabled></textarea>
      <small>*ต้องกรอกหมายเหตุก่อนแก้ไข</small>

      <div class="mt-3 border-3 border-dark border-top">
        <div class="d-flex mt-3">
          <h3>หลักเกณฑ์</h3>
        </div>

        <table >
          <thead>
            <tr>
              <th colspan="2" ></th>
              <th>2565</th>
              <th>2566</th>
              <th>2567</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th colspan="2"  style="background-color: gray;">Process level 1</th>
              <th  style="background-color: gray;"></th>
              <th  style="background-color: gray;"></th>
              <th  style="background-color: gray;"></th>
            </tr>
            <tr>
              <td colspan="2">Process level 2</td>
              <td style="vertical-align: center;"><input
                type="number"
                placeholder="20"
                style="width: 75px; "
                disabled
              /></td>
              <td style="vertical-align: center;">
                <input
                  type="number"
                  placeholder="20"
                  style="width: 75px; text-align: center"
                  disabled
                />
              </td>
              <td><input
                type="number"
                placeholder="20"
                style="width: 75px; text-align: center"
                disabled
              /></td>

            </tr>
            <tr>
              <td colspan="2">Process level 2</td>
              <td><input
                type="number"
                placeholder="20"
                style="width: 75px; text-align: center"
                disabled
              /></td>
              <td>
                <input
                  type="number"
                  placeholder="20"
                  style="width: 75px; text-align: center"
                  disabled
                />
              </td>
              <td><input
                type="number"
                placeholder="20"
                style="width: 75px; text-align: center"
                disabled
              /></td>

            </tr>
          </tbody>
        </table>
      </div>



    </form>
  </section>
</div>
