<div class="container">
  <h2>ประวัติการแก้ไขเป้าตามหลักเกณฑ์ CBEs</h2>
  <div class="container">
    <p>ปี : 2565</p>
    <p>หัวข้อ : การกํากับดูแลที่ดีและการนําองค์กร (Corporate Governance & Leadership : CG & Leadership)</p>
  </div>
  <div class="mt-3">
    <table>
      <thead>
        <tr>
          <th>
            วันที่แก้ไข
          </th>
          <th>
            รอบ
          </th>
          <th>
            ผู้แก้ไข
          </th>
          <th>
            หมายเหตุการแก้ไข
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>
              03/12/2564 12:12
            </td>
            <td>
              2
            </td>
            <td>
              นายณภัทร ไชยพราหมณ์
            </td>
            <td>
              มีการปรับแผนเนี่ยงจากสถานะการณ์ COVID
            </td>
            <td>
              <button>รายละเอียด</button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
