<div class="p-3">
  <div class="container">
    <h2>ประวัติการแก้ไขแผนดำเนินงานตามหลักเกณฑ์การ CBEs</h2>
    <p>
      หัวข้อ : การกํากับดูแลที่ดีและการนําองค์กร (Corporate Governance &
      Leadership : CG & Leadership)
    </p>
    <label for="planningname">ชื่อแผน</label>
    <input name="planningname" placeholder="ชื่อแผน" style="width: 150px;" disabled />
    <br /><br />

    <div class="d-flex">
      <p>ประเด็นที่เกี่ยวข้อง :</p>
      <table>
        <thead>
          <tr>
            <th>กระบวนการ</th>
            <th>ประเด็น</th>
            <th>ประเด็นย่อย</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <select style="width: 100px; height: 50px" disabled>
                <option>กระบวนการ</option>
              </select>
            </th>
            <th>
              <select style="width: 100px; height: 50px" disabled>
                <option>1.ฟหกฟหกหฟฟหก</option>
              </select>
            </th>
            <th>
              <select style="width: 100px; height: 50px" disabled>
                <option>1.1 asdfad</option>
              </select>
            </th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mt-2">
      รอบแก้ไข :
      <select class="ms-2" disabled>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
      <br/>
      <div class="d-flex">
        <label for="remark">หมายเหตุในการบันทึก :</label>
        <textarea name="remark" class="ms-2" placeholder="แก้ไข...."></textarea>
      </div>
    </div>
    <label class="mt-3"> ตัวชี้วัด : </label>

    <table class="tablecontainer">
      <thead>
        <tr>
          <th rowspan="3">
            ตัวชี้วัด</th>
          <th colspan="12" rowspan="1">
            เป้าหมายระยะเวลาแล้วเสร็จ
          </th>
        </tr>
        <tr>
          <th colspan="4">ปีงบประมาณ 2565</th>
          <th colspan="4">ปีงบประมาณ 2566</th>
          <th colspan="4">ปีงบประมาณ 2567</th>

        </tr>
        <tr>
          <th colspan="1">Q1</th>
          <th colspan="1">Q2</th>
          <th colspan="1">Q3</th>
          <th colspan="1">Q4</th>
          <th colspan="1">Q1</th>
          <th colspan="1">Q2</th>
          <th colspan="1">Q3</th>
          <th colspan="1">Q4</th>
          <th colspan="1">Q1</th>
          <th colspan="1">Q2</th>
          <th colspan="1">Q3</th>
          <th colspan="1">Q4</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <br /><br />
            <div>
            <textarea style="height: 100px; vertical-align: top;" disabled>กิจกรรม</textarea>
            </div>
            <div class="mt-5">
              <table>
                <thead>
                  <tr>
                    <th class="border-0"></th>
                    <th class="border-0">1</th>
                    <th class="border-0">2</th>
                    <th class="border-0">3</th>
                    <th class="border-0">4</th>
                    <th class="border-0">5</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="border-0">SP1.1</td>
                    <td class="border-0">
                      <input type="checkbox" />
                    </td>
                    <td class="border-0">
                      <input type="checkbox" />
                    </td>
                    <td class="border-0">
                      <input type="checkbox" />
                    </td>
                    <td class="border-0">
                      <input type="checkbox" />
                    </td>
                    <td class="border-0">
                      <input type="checkbox" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </th>
          <th>
            <div style="height: 100px;">
              <input type="number" disabled/>
            </div>
          </th>
          <th>
            <div style="height: 100px;">
              <input type="number" disabled/>
            </div>
          </th>
          <th>
            <div style="height: 100px;">
              <input type="number" disabled/>
            </div>
          </th>
          <th>
            <div style="height: 100px;">
              <input type="number" disabled/>
            </div>
          </th>
          <th>
            <div style="height: 100px;">
              <input type="number" disabled/>
            </div>
          </th>
          <th>
            <div style="height: 100px;">
              <input type="number" disabled/>
            </div>
          </th>
          <th>
            <div style="height: 100px;">
              <input type="number" disabled/>
            </div>
          </th>
          <th>
            <div style="height: 100px;">
              <input type="number" disabled/>
            </div>
          </th>
          <th>
            <div style="height: 100px;">
              <input type="number" disabled/>
            </div>
          </th>
          <th>
            <div style="height: 100px;">
              <input type="number" disabled/>
            </div>
          </th>
          <th>
            <div style="height: 100px;">
              <input type="number" disabled/>
            </div>
          </th>
          <th>
            <div style="height: 100px;">
              <input type="number" disabled/>
            </div>
          </th>
        </tr>

      </tbody>
    </table>

  </div>
</div>
