<div class="container">
  <h2>
    แบบรายงานผลการทบทวนโครงการ/แผน(ดำเนิน)งาน ตามเกณฑ์ Core Business Enablers
  </h2>
  <br />
  <label>ปีที่บันทึกผล : </label>
  <select>
    <option>2565</option>
    <option>2566</option>
    <option>2567</option>
  </select>
  <br/>
  <label>ไตรมาส : </label>
  <select>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
  <div>
    <table>
      <thead>
        <tr>
          <th rowspan="3">ลำดับ</th>
          <th rowspan="3">
            ประเด็นพิจารณา<br />(โปรดระบุตามเกณฑ์ CBEs ฉบับปรับปรุงปี 2565)
          </th>
          <th rowspan="3">คะแนน baseline<br />ปี 2565</th>
          <th rowspan="3">คะแนน baseline<br />ปี 2566</th>
          <th rowspan="3">คะแนน baseline<br />ปี 2567</th>
          <th rowspan="1" colspan="3">
            ปีงบประมาณปี 2565 <br />
            (CBEs SC กำหนดเป้า + 15%)
          </th>
          <th rowspan="1" colspan="3">
            ปีงบประมาณปี 2566 <br />
            (CBEs SC กำหนดเป้า ...)
          </th>
          <th rowspan="1" colspan="3">
            ปีงบประมาณปี 2567 <br />
            (CBEs SC กำหนดเป้า ...)
          </th>
        </tr>
        <tr>
          <th rowspan="2">
            ได้คะแนนคาดการณ์ <br />
            (% growth)
          </th>
          <th rowspan="1" colspan="2">โครงการ/แผนดำเนินงาน</th>
          <th rowspan="2">
            ได้คะแนนคาดการณ์ <br />
            (% growth)
          </th>
          <th rowspan="1" colspan="2">โครงการ/แผนดำเนินงาน</th>
          <th rowspan="2">
            คะแนนคาดการณ์ <br />
            (% growth)
          </th>
          <th rowspan="1" colspan="2">โครงการ/แผนดำเนินงาน</th>
        </tr>

        <tr>
          <th rowspan="1">
            มีให้ใส่ ✔ <br />
            ไม่มีให้ใส่ ✖
          </th>
          <th rowspan="1">
            คก./ <br />
            แผนดำเนินงาน
          </th>
          <th rowspan="1">
            มีให้ใส่ ✔ <br />
            ไม่มีให้ใส่ ✖
          </th>
          <th rowspan="1">
            คก./ <br />
            แผนดำเนินงาน
          </th>
          <th rowspan="1">
            มีให้ใส่ ✔ <br />
            ไม่มีให้ใส่ ✖
          </th>
          <th rowspan="1">
            คก./ <br />
            แผนดำเนินงาน
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>
            RM&JC 1.1
            บทบาทคณะกรรมการในการกำกับติดตามการบริหารความเสี่ยงและการพัฒนาระบบการควบคุมภายใน
            (ฝนย.)
          </td>
          <td>1.4000</td>
          <td>1.9333</td>
          <td>2.3200</td>
          <td>2.6680</td>
          <td>✔</td>
          <td>RM&JC 1.1</td>
          <td>3.0682</td>
          <td>✔</td>
          <td>RM&JC 1.1</td>
          <td></td>
          <td>✔</td>
          <td>RM&JC 1.1</td>
        </tr>
        <tr>
          <th colspan="2" class="text-end">รวม</th>
          <td>1.4000</td>
          <td>1.9333</td>
          <td>2.3200</td>
          <td>2.6680</td>
          <td>1</td>
          <td>1</td>
          <td>3.0682</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-3">
    <label>หมายเหตุ : </label><br />
    <textarea disabled></textarea>
  </div>
  <h3 class="bg-primary text-dark">ผลการอนุมัติ</h3>
  <div>
    วันและเวลาที่พิจารณา : <br />
    ชื่อผู้พิจารณา : <br />
    การอนุมัติ : <br />
    หมายเหตุ : <br />
    <textarea style="width: 750px" disabled></textarea>
    <br />
    <div class="text-end">
      <button>Download</button>
      <button>แก้ไข</button>
    </div>
  </div>
</div>
