<div>
  <div class="container">
    <h2>กล่องขยะแผนดำเนินงานตามหลักเกณฑ์ CBEs</h2>
    <div class="mt-3">
      <label> หัวข้อ : </label>
      <input class="ms-2" type="text" />
      <button class="ms-3 btn btn-sm btn-info">ค้นหา</button>
    </div>
    <table class="mt-3 table border-dark border">
      <thead>
        <tr>
          <th>วันที่ปรับปรุง</th>
          <th>หัวข้อ</th>
          <th>จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>09/09/2564 09:09</th>
          <th>
            การกํากับดูแลที่ดีและการนําองค์กร (Corporate Governance & Leadership
            : CG & Leadership)
          </th>
          <th>
            <button class="btn btn-sm btn-warning ms-3">ยกเลิก</button>
            <button class="btn btn-sm btn-danger ms-3">ลบ</button>
          </th>
        </tr>
        <tr>
          <th>09/09/2564 09:09</th>
          <th>การวางแผนเชิงยุทธศาสตร์ (Strategic Planning : SP)</th>
          <th>
            <button class="btn btn-sm btn-warning ms-3">ยกเลิก</button>
            <button class="btn btn-sm btn-danger ms-3">ลบ</button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
