<div>
  <div class="container">
    <h2>กล่องขยะแผนดำเนินงานตามหลักเกณฑ์ CBEs</h2>
    <div class="mt-3">
      <label> หัวข้อ : </label>
      <input class="ms-2" type="text" />
      <button class="ms-3 btn btn-sm btn-info">ค้นหา</button>
    </div>
    <table class="mt-3 table border-dark border">
      <thead>
        <tr>
          <th class="text-center">วันที่ปรับปรุง</th>
          <th class="text-center">หัวข้อ</th>
          <th class="text-center">จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">09/09/2564 09:09</td>
          <td class="text-center">
            การกํากับดูแลที่ดีและการนําองค์กร (Corporate Governance & Leadership
            : CG & Leadership)
          </td>
          <td class="text-center">
            <button class="btn btn-sm btn-warning ms-3">ยกเลิก</button>
            <button class="btn btn-sm btn-danger ms-3">ลบ</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
